.Menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  z-index: 100;
  transition: transform 1s;
  transform: translateX(-100%);
}

.Menu.Open {
  transform: translateX(0%);
}

.MenuBackground {
  opacity: 0.75;
  background-color: #a3403b;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -20px;
}

.Menu > *:not(.MenuBackground) {
  margin: 10px 0px;
  z-index: 10;
}

.Menu > img {
  width: 90%;
  max-width: 200px;
  height: auto;
  clip-path: circle(45% at center);
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .Menu {
    height: calc(100% - 20px);
    padding: 10px;
  }

  .MenuBackground {
    margin-top: -10px;
  }
}

@media screen and (max-width: 600px) {
  .Menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 0px;
  }

  .MenuBackground {
    height: 100%;
    margin-top: 0;
    opacity: 1;
  }
}
