.Modal {
  font-size: 24px;
  opacity: 0;
  text-align: center;
  color: #ffffff;
  width: 50%;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.Modal.Backless {
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
}

.Modal.Ghost {
  opacity: 0;
  transform: translateX(-20px);
}
